<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
{% if author.homepage %}
  <li>
    <a href="{{ author.homepage }}">
      <i class="fas fa-home"></i> Homepage
    </a>
  </li>
{% endif %}

{% if author.e-mail %}
  <li>
    <a href="mailto:{{ author.e-mail }}">
      <meta itemprop="email" content="{{ author.e-mail }}" />
      <i class="fas fa-fw fa-envelope" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}
    </a>
  </li>
{% endif %}

{% if author.github-alt %}
  <li>
    <a href="https://github.com/{{ author.github-alt }}">
      <i class="fab fa-github-alt"></i> Github
    </a>
  </li>
{% endif %}

{% if author.google-scholar %}
  <li>
    <a href="https://scholar.google.com/citations?user={{ author.google-scholar }}">
      <i class="ai ai-google-scholar ai-lg"></i> Scholar
    </a>
  </li>
{% endif %}

{% if author.orcid %}
  <li>
    <a href="https://orcid.org/{{ author.orcid }}">
      <i class="ai ai-orcid"></i> ORCID
    </a>
  </li>
{% endif %}

{% if author.cv %}
  <li>
    <a href="{{ site.url }}{{ site.baseurl }}/{{ author.cv }}">
      <i class="ai ai-cv ai-lg"></i> Resume
    </a>
  </li>
{% endif %}
